# ==============================================================================
#                              TEMP & BACKUP FILES                              
# ==============================================================================

*.backup 
*.temp
*.tmp

# ==============================================================================
#                                PureBASIC Files                                
# ==============================================================================

**/project.cfg