*.exe
*.7z

# ==============================================================================
#                                PureBASIC Files                                
# ==============================================================================

**/project.cfg
**/*.pb.cfg
